doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        // Changing linked bootstrap.css to own hosted bootstrap.css -> Control of own css in case for downtime of bootstrap server, data sovereignty
        // Choosing of a dark theme, suitable for a project called "Deep Space Books"
        style
            include ./styles/bootstrap.css

        block scripts
            script(type="text/javascript")
                include ./js/calculateAverage.js

    body
        div(class="container")
            block content
                h1 Deep Space Books
                p(class="lead") Information about this book

                nav(class="navbar navbar-expand-lg navbar-dark bg-primary")
                    a(class="navbar-brand" href="#")
                        button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#navbarColor01", aria-controls="navbarColor01", aria-expanded="false", aria-label="Toggle navigation")
                            span(class="navbar-toggler-icon")

                    div(class="collapse navbar-collapse" id="navbarColor01")
                        ul(class="navbar-nav mr-auto")
                            li(class="nav-item active")
                                a(class="nav-link" href="../home") Home
                                    span(class="sr-only") (current)

                            li(class="nav-item")
                                a(class="nav-link" href="") My profile (#{acceptedUsername})

                            li(class="nav-item")
                                a(class="nav-link" href="../reviewfeed") Review Feed

                            li(class="nav-item")
                                a(class="nav-link" href="../books") All books

                            li(class="nav-item")
                                a(class="nav-link" href="../authors") All authors

                            li(class="nav-item")
                                a(class="nav-link" href="../logout") Logout

                        form(method="post", action="../keywordSearchBtn", class="form-inline my-2 my-lg-0")
                            input(class="form-control mr-sm-2", type="text", placeholder="Search", name="keywordInput")
                            button(class="btn btn-secondary my-2 my-sm-0", type="submit") Quick Search

                div(class="row")
                    div(class="col-lg-6")
                        div(class="bs-component")
                            h2 Information about #{bookResult.title}
                            table(class="table table-hover")
                                thead
                                    tr(class="table-info")
                                        th(scope="col") Book title
                                        td #{bookResult.title}

                                    tr(class="table-secondary")
                                        th(scope="col") Book author
                                        td
                                            a(class="text-dark", href="/authors/"+bookResult.author_id) #{bookResult.author}

                                    tr(class="table-info")
                                        th(scope="col") Book co author
                                        if bookResult.coauhor == ""
                                            td
                                                p(class="text-dark") #{bookResult.coauthor}
                                        else
                                            td No co author found!

                                    tr(class="table-secondary")
                                        th(scope="col") Book ISBN
                                        td #{bookResult.isbn}

                                    tr(class="table-info")
                                        th(scope="col") Publish Year
                                        td #{bookResult.publish_year}

                                    tr(class="table-secondary")
                                        th(scope="col") Intern book id
                                        td #{bookResult.book_id}

                        div(class="bs-component")
                            h2 Write your own review!
                                form(method="post", action="saveReview/"+bookResult.book_id)
                                    div(class="form-group")
                                        p(class="lead") Rate from 1 (I wish I could burn this book multiple times) to 5 (I want to marry this book and love it for all eternity)
                                        select(class="custom-select", id="reviewSelect", name="reviewSelect")
                                            option 1
                                            option 2
                                            option 3
                                            option 4
                                            option 5

                                    div(class="form-group")
                                        p(class="lead") Write your own text!
                                        textarea(class="form-control", id="reviewText", name="reviewText", rows="5")

                                    div(class="form-group")
                                        button(type="submit", class="btn btn-primary btn-lg btn-block") Post review!


                    div(class="col-lg-6")
                        div(class="bs-component")
                            h2 Do you want to know what other users think about #{bookResult.title}?
                            p(class="lead") Enter the world of our reviews!

                            if noResults
                                div(class="alert alert-danger" role="alert") #{noResults}

                            else
                                div(class="progress")
                                    div(id="averageProgress", class="progress-bar progress-bar-striped bg-primary", role="progressbar", style="width: 0%", aria-valuenow="50", aria-valuemin="0", aria-valuemax="100")


                            table(class="table table-hover")
                                thead
                                    tr(class="table-info")
                                        th Average score of this book
                                        td(id="averageReviewScore")

                                    tr(class="table-secondary")
                                        th Number of reviews waiting for you
                                        td(id="totalReviews")

                            if reviewResults
                                each review in reviewResults
                                    div(class="card text-white bg-secondary mb-3", style="max-width: 40rem;")
                                        div(class="card-header")
                                            table(class="table table-hover")
                                                thead
                                                    tr(class="table-info")
                                                        th Score
                                                        td(class="reviewScore") #{review.score}

                                                div(class="progress")
                                                    if review.score == 1
                                                        div(class="progress-bar progress-bar-striped bg-primary", role="progressbar", style="width: 20%", aria-valuenow="50", aria-valuemin="0", aria-valuemax="100")

                                                    if review.score == 2
                                                        div(class="progress-bar progress-bar-striped bg-primary", role="progressbar", style="width: 40%", aria-valuenow="50", aria-valuemin="0", aria-valuemax="100")

                                                    if review.score == 3
                                                        div(class="progress-bar progress-bar-striped bg-primary", role="progressbar", style="width: 60%", aria-valuenow="50", aria-valuemin="0", aria-valuemax="100")

                                                    if review.score == 4
                                                        div(class="progress-bar progress-bar-striped bg-primary", role="progressbar", style="width: 80%", aria-valuenow="50", aria-valuemin="0", aria-valuemax="100")

                                                    if review.score == 5
                                                        div(class="progress-bar progress-bar-striped bg-primary", role="progressbar", style="width: 100%", aria-valuenow="50", aria-valuemin="0", aria-valuemax="100")

                                            p(class="card-text") #{review.review_date} #{review.review_time} by #{review.username}
                                        div(class="card-body")
                                            p(class="card-text") #{review.review_text}




